.individual_review_card{
    border-top: 1px solid white;
    width: 100%;
    margin-left: -1.2rem;
}

.stars_review_div{
    display: flex;
    align-items:center;
    text-align: left;
    margin-left: 1.2rem;
}

.review_label_stars, .review_label_stars_icons{
    margin: auto 0 !important;
    padding: 0;
    width: auto;
}

.open_edit_review{
    margin: 0 0 0.5rem 1.2rem;
    background-color: var(--color-orange);
    transition: 0.2s all;
    color: white;
    border: none;
    width: 4.5rem;
    height: 1.5rem;
    font-size: 0.9rem;
}

.open_edit_review:hover{
    background-color: var(--color-violet);
    cursor: pointer;
}