.app_footer-background {
  background: rgba(0, 0, 0, 0.8);
  padding-bottom: 2vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: auto;
  border: 1px solid white;
}

.app__footer-container {
  display: grid;
  grid-template-columns: 33% 33% 34%;
  align-items: center;
}

.app__footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 2vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  color: white;
}

.app__footer-text a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.app__footer-text a:hover {
  color: var(--color-green);
}

.footer_logo_div {
  width: 3.5rem;
  height: 5rem;
  margin-left: 1rem;
}

.app__footer-logo {
  height: 6rem;
  padding: 0 1.5rem;
  transition: 0.2s all;
}

.app__footer-logo:hover {
  scale: 1.05;
}

.app__footer-socialcopyright {
  padding-left: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app__footer-socialcontainer {
  margin-right: 1rem;
  display: flex;
  justify-content: flex-end;
}

.app__footer-instagram {
  height: 2.5rem;
  width: auto;
  margin-right: 1rem;
  transition: 0.2s all;
  color: white;
}

.app__footer-instagram:hover {
  scale: 1.1;
  color: var(--color-green);
}

.app__footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  color: white;
  width: 100%;
  text-align: center;
  font-size: small;
}

/*Entre 900 y 750*/
@media screen and (max-width: 900px) {
  .footer_logo_div {
    width: 3.5rem;
    height: 3rem;
    margin-left: 1rem;
  }
  .app__footer-logo {
    height: 3rem;
  }

  .app__footer-text {
    font-size: 0.8rem;
  }

  .app__footer-socialcontainer {
    display: flex;
  }

  .app__footer-instagram {
    height: 2rem;
  }
}

/*Menos de 550*/
@media screen and (max-width: 550px) {
  .app__footer-text a {
    font-size: 0.6rem;
    margin-bottom: 0.2rem;
  }

  .app__footer-copyright {
    font-size: 0.6rem;
  }
  .app__footer-socialcontainer {
    margin-right: 0;
  }
  .footer_logo_div {
    margin-left: 0;
  }
}
