:root {
  --color-gray: #50505ce0;
  --color-blue: #3674a0e0;
  --color-violet: #6f4580e0;
  --color-rose: #d68291e0;
  --color-orange: #efa13ce0;
  --color-yellow: #ffff78e0;
  --color-green: #b3f749e0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
