.detail_recommended_shows {
  width: 85%;
  padding: 1.2rem 0;
  text-align: left;
  color: #ffffff;
  height: auto;
}

.detail_recommended_shows_h3 {
  color: white;
  font-size: 1.6rem;
  text-shadow: 2px 2px 2px rgba(161, 161, 161, 0.6);
}

.recommended_section {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 33% 33% 33%; /* Cambiamos 1fr por auto */
  row-gap: 1rem;
  column-gap: 5%;
  width: 85%;
  height: 27rem;
  margin: 1rem auto;
  justify-content: center;
}

.recommended_section_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 26rem;
  background-color: var(--color-blue);
  margin-bottom: 1rem;
  transition: 0.2s all;
}

.recommended_section_container:hover {
  cursor: pointer;
  scale: 1.04;
  border: 2px solid var(--color-orange);
}

.recommended_link {
  text-decoration: none;
}

.recommended_section_info {
  width: 95%;
  height: 14rem;
  padding-left: 0.8rem;
}

.recommended_section_h2 {
  font-size: 1.2rem;
  color: white;
}

.recommended_section_text {
  font-size: 1.1rem;
  color: var(--color-orange);
}

.recommended_section_price {
  font-size: 1.1rem;
  color: white;
}

.recommended_section_photo {
  height: 12rem;
}
.recommended_section_photo img {
  width: 100%;
  height: 100%;
}

/*De 750 a 900*/
@media screen and (max-width: 900px) {
  .detail_recommended_shows {
    width: 95%;
  }

  .recommended_section_container {
    width: 100%;
  }

  .recommended_section_container {
    width: 100%;
    height: 24rem;
    margin: 1rem auto 3rem auto;
  }

  .recommended_section_info {
    width: 100%;
    height: auto;
    padding-left: 0.6rem;
  }

  .recommended_section_h2 {
    font-size: 1.1rem;
  }

  .recommended_section_text {
    font-size: 1rem;
  }

  .recommended_section_price {
    font-size: 1.1rem;
  }

  .recommended_section_photo {
    height: 11rem;
  }

  .detail_recommended_shows_h3 {
    width: 100%;
    font-size: 1.4rem;
    margin-left: -1rem;
    text-align: center;
  }
}

/*Responsive de 550 a 750*/
@media screen and (max-width: 750px) {
  .recommended_section {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
  }

  .recommended_section_container{
    flex-direction: row;
    width: 100%;
    height: 12rem;
    margin: 1rem auto;
  }

  .recommended_section_info {
    width: 100%;
    padding-left: 0.8rem;
  }
  
  .recommended_section_h2 {
    font-size: 1.2rem;
  }
  
  .recommended_section_text {
    font-size: 1.1rem;
  }
  
  .recommended_section_price {
    font-size: 1.1rem;
  }
  
  .recommended_section_photo {
    height: 12rem;
    width: 20rem;
  }
  .recommended_section_photo img {
    width: 100%;
    height: 100%;
  }

  .detail_recommended_shows_h3 {
    width: 90%;
    font-size: 1.1rem;
    text-align: center;
    margin-left: 1rem;
  }
}

/*Responsive hasta 550*/
@media screen and (max-width: 550px) {
    .recommended_section {
        width: 92%;
      }
    
      .recommended_section_container{
        flex-direction: row;
        width: 100%;
        height: 11rem;
        margin: 1rem auto;
      }
    
      .recommended_section_info {
        padding-left: 0.7rem;
      }
      
      .recommended_section_h2 {
        font-size: 1rem;
      }
      
      .recommended_section_text {
        font-size: 0.9rem;
      }
      
      .recommended_section_price {
        font-size: 1rem;
      }
      
      .recommended_section_photo {
        height: 11rem;
        width: 20rem;
      }
}
