.emptyCart_container {
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/Background.png");
  width: 100%;
  height: 90.5vh;
  place-items: center;
}

.emptyCart_info_div {
  display: flex;
  flex-direction: column;
  width: 80%;
  place-items: center;
  margin-top: 1rem;
}

.emptyCart_text {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgba(161, 161, 161, 0.6);
  font-size: 2rem;
  font-weight: 600;
}

.emptyCart_link {
  background-color: rgb(239, 162, 60);
  margin: 0.6rem 0;
  padding: 0.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: white;
  border: none;
  text-decoration: none;
  transition: 0.2s all;
}

.emptyCart_link:hover {
  background-color: #704782;
  cursor: pointer;
}
