.cartSummary-Container {
  display: flex;
  background-image: url(./Resources/_____02.png);
  background-color: black;
  flex-direction: column;
}
.cartSummary__summary-Container {
  background-color: var(--color-violet);
  width: 85%;
  margin-top: 2vh;
  margin-left: 8vw;
  margin-bottom: 2vh;
}
.cartSummary__summary-header {
  color: white;
  margin-left: 2vw;
  padding-top: 2vh;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid white;
  font-size: 2.5vh;
}
.cartSummary__show-Container {
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding-right: 2vw;
  margin-left: 2vw;
  display: flex;
  justify-content: space-between;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
}
.cartSummary__show-image {
  height: 9vh;
  margin-bottom: 2vh;
  border: 1px solid var(--color-gray);
}

.cartSummary__show-nameDate {
  position: absolute;
  display: block;
  flex-direction: column;
  font-size: 2.5vh;
  margin-left: 15vw;
}

.cartSummary__show-totalOrder {
  display: flex;
  justify-content: flex-end;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-right: 2vw;
}

.cartSummary__show-processOrder {
  background-color: var(--color-orange);
  border: none;
  width: 100%;
  height: 5vh;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 2vh;
  cursor: pointer;
  font-size: 1.2vw;
  font-weight: bold;
  color: white;
}

.cartSummary__show-processOrder:hover {
  background-color: #72cb10;
}

.cartSummary__user-infoContainer {
  margin-top: 2vh;
  background-color: var(--color-blue);
  margin-left: 8vw;
  width: 85%;
  display: flex;
  flex-direction: column;
}
.cartSummary__user-header {
  color: white;
  margin-left: 2vw;
  padding-top: 2vh;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid white;
  width: 35%;
}
.cartSummary__user-headerInfo {
  color: white;
  margin-left: 2vw;
  padding-top: 5vh;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 4px solid white;
}
.cartSummary__user-info {
  position: relative;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 2vw;
  font-size: 2.6vh;
}

.cartSummary__user-info input {
  color: rgb(0, 0, 0);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 2.6vh;
}
span[style="color: red;"] {
  font-size: 16px;
}

.name {
  height: 8vh;
  float: left;
  width: 52vh;
}
.email_container {
  height: 8vh;
  width: 55vh;
  float: right;
  margin-right: 20vh;
}
.email_container input {
  width: 35vh;
}

.address_container {
  height: 8vh;
  float: left;
  width: 52vh;
}

.address_container input {
  width: 27vh;
}

.telephone_container {
  height: 8vh;
  float: right;
  width: 55vh;
  margin-right: 20vh;
}

.telephone_container input {
  width: 30vh;
}

.city_container {
  float: left;
  width: 100vh;
}

.city_container input {
  width: 25vh;
}

.cartSummary__user-info #city,
#state,
#zip {
  font-size: 2.3vh;
}
.cartSummary__user-editInfo {
  margin-left: 1vw;
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: white;
  justify-content: flex-end;
}
.cartSummary__user-editInfo:hover {
  background-color: var(--color-orange);
  cursor: pointer;
}
.cartSummary__user-editInfo-save {
  margin-left: 1vw;
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: white;
  justify-content: flex-end;
  font-size: 80%;
}
.cartSummary__user-editInfo-save:hover {
  background-color: var(--color-orange);
  cursor: pointer;
}

.cartSummary__user-editInfo-cancel {
  margin-left: 1vw;
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: white;
  justify-content: flex-end;
  font-size: 80%;
}

.cartSummary__user-editInfo-cancel:hover {
  background-color: var(--color-orange);
  cursor: pointer;
}
.cartSummary__show-processOrderButton {
  color: white;
  font-size: 2vw;
  text-decoration: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.editItems_order-plus {
  margin-left: 15vw;
  width: 2vw;
  text-decoration: none;
  border: solid 2px var(--color-yellow);
  background-color: var(--color-blue);
  color: white;
  justify-content: flex-end;
  font-size: 100%;
}

.editItems_order-plus:hover {
  background-color: var(--color-orange);
  cursor: pointer;
}
.item-quantity {
  margin-left: 4px;
  margin-right: 4px;
  transform: translateX(-50%) translateY(-50%);
  font-size: 1.2rem;
}

.editItems_order-minus {
  width: 2vw;
  text-decoration: none;
  border: solid 2px var(--color-yellow);
  background-color: var(--color-blue);
  color: white;
  justify-content: flex-end;
  font-size: 100%;
}

.editItems_order-minus:hover {
  background-color: var(--color-orange);
  cursor: pointer;
}

.back_button-div {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-end;
}

.back_button-order {
  width: 28vh;
  padding: 1vh;
  background: var(--color-orange);
  color: white;
  text-transform: uppercase;
  font-size: 2.5vh;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  margin: 2rem 1.5rem -5rem 0rem;
  margin-left: 10%;
  cursor: pointer;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.back_button-order:hover {
  background-color: var(--color-violet);
}
/*---------------------@media (min-width: 750px) and (max-width: 1200px)-----------------*/
@media (min-width: 750px) and (max-width: 1500px) {
  .cartSummary__user-info input {
    font-size: 2.4vh;
  }

  .cartSummary__user-info {
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 2vw;
    font-size: 2.5vh;
  }
  .cartSummary__user-info #zip {
    font-size: 2.4vh;
    width: 10vh;
  }
  .back_button-order {
    width: 25vh;
    padding: 1%;
    background: var(--color-orange);
    color: white;
    text-transform: uppercase;
    font-size: 2.3vh;
    margin-right: 0.5rem;
  }
  .editItems_order-plus {
    margin-left: 25vh;
    width: 4vh;
  }
  .editItems_order-minus {
    width: 4vh;
  }
  .cartSummary__show-processOrder {
    font-size: 3vh;
  }

  .cartSummary__show-nameDate {
    font-size: 2.3vh;
  }

  .cartSummary__user-info {
    font-size: 3vh;
  }

  .cartSummary__summary-header {
    font-size: 90%;
  }
}
/*---------------------@media screen and (max-width: 750px)-----------------*/
@media screen and (max-width: 750px) {
  .cartSummary__user-editInfo-save {
    margin-left: 1vh;
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: white;
    justify-content: flex-end;
    font-size: 80%;
  }

  .cartSummary__user-editInfo-cancel {
    margin-left: 1vh;
    position: relative;
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: white;
    justify-content: flex-end;
    font-size: 80%;
  }

  .cartSummary__summary-header {
    color: white;
    margin-left: 2vw;
    padding-top: 2vh;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid white;
    font-size: 90%;
  }

  .cartSummary__user-header {
    font-size: 90%;
  }

  .cartSummary__user-header {
    color: white;
    margin-left: 2vh;
    padding-top: 2vh;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid white;
    width: 55%;
  }

  .cartSummary__user-info {
    font-size: 2.3vh;
  }
  .cartSummary__user-info input {
    color: rgb(0, 0, 0);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /*     width: 20vw; */
    font-size: 2.3vh;
  }
  .cartSummary__user-info #city,
  #state,
  #zip {
    color: rgb(0, 0, 0);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 2.2vh;
    width: 8vh;
  }

  .back_button-order {
    width: 22vh;
    padding: 1%;
    background: var(--color-orange);
    color: white;
    text-transform: uppercase;
    font-size: 2.1vh;
    margin-right: 0.5rem;
  }

  .cartSummary__show-image {
    display: none;
  }

  .cartSummary__show-nameDate {
    position: absolute;
    display: block;
    flex-direction: column;
    font-size: 2.3vh;
    margin-left: 0.5vw;
  }

  .editItems_order-plus {
    margin-left: 35vw;
    margin-top: -9px;
    margin-bottom: -7px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100%;
  }

  .editItems_order-minus {
    margin-left: 35vw;
    margin-top: 7px;
    margin-bottom: 2px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100%;
  }

  .item-quantity {
    position: relative;
    margin-left: 35.7vw;
    top: 1.3vh;
    margin-bottom: -50px;
    font-size: 1.1rem;
  }

  .cartSummary__show-processOrder {
    font-size: 3vh;
  }
}

@media (min-width: 470px) and (max-width: 1060px) {
  .email_container {
    float: left;
  }
  .telephone_container {
    float: left;
  }
}
