.cartSummary-Container {
  display: flex;
  background-image: url(./Resources/_____02.png);
  background-color: black;
  flex-direction: column;
}
.cartSummary__summary-Container {
  background-color: var(--color-violet);
  width: 85%;
  margin-top: 2vh;
  margin-left: 8vw;
  margin-bottom: 2vh;
}
.cartSummary__summary-header {
  color: white;
  margin-left: 2vw;
  padding-top: 2vh;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid white;
}
.cartSummary__show-Container {
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding-right: 2vw;
  margin-left: 2vw;
  display: flex;
  justify-content: space-between;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
}
.cartSummary__show-image {
  height: 8vh;
  margin-bottom: 2vh;
  border: 1px solid var(--color-gray);
}

.cartSummary__show-nameDate {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2vh;
}

.cartSummary__show-totalOrder {
  display: flex;
  justify-content: flex-end;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-right: 2vw;
}

.cartSummary__show-processOrder {
  background-color: var(--color-orange);
  border: none;
  width: 100%;
  height: 5vh;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 2vh;
  cursor: pointer;
}

.cartSummary__show-processOrder:hover {
  background-color: #72cb10;
}

.cartSummary__user-infoContainer {
  margin-top: 2vh;
  background-color: var(--color-blue);
  margin-left: 8vw;
  width: 85%;
  display: flex;
  flex-direction: column;
}
.cartSummary__user-header {
  color: white;
  margin-left: 2vw;
  padding-top: 2vh;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid white;
}
.cartSummary__user-headerInfo {
  color: white;
  margin-left: 2vw;
  padding-top: 5vh;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid white;
}
.cartSummary__user-info {
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 2vw;
}

.cartSummary__user-info input {
  color: rgb(0, 0, 0);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1vw;
  width: 10vw;
}
.cartSummary__user-info #city,
#state,
#zip {
  color: rgb(0, 0, 0);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1vw;
  width: 5vw;
}
.cartSummary__user-editInfo {
  margin-left: 1vw;
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: white;
  justify-content: flex-end;
}
.cartSummary__user-editInfo:hover {
  background-color: var(--color-orange);
  cursor: pointer;
}
.cartSummary__user-editInfo-save {
  margin-left: 1vw;
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: white;
  justify-content: flex-end;
  font-size: 80%;
}
.cartSummary__user-editInfo-save:hover {
  background-color: var(--color-orange);
  cursor: pointer;
}

.cartSummary__user-editInfo-cancel {
  margin-left: 1vw;
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: white;
  justify-content: flex-end;
  font-size: 80%;
}

.cartSummary__user-editInfo-cancel:hover {
  background-color: var(--color-orange);
  cursor: pointer;
}
.cartSummary__show-processOrderButton {
  color: white;
  font-size: 2vw;
  text-decoration: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.editItems_order-save {
  margin-left: 0.3vw;
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: white;
  justify-content: flex-end;
  font-size: 90%;
}

.editItems_order-save:hover {
  background-color: var(--color-orange);
  cursor: pointer;
}

.editItems_order-plus {
  margin-right: 0.5vw;
  width: 2vw;
  text-decoration: none;
  border: solid 2px var(--color-yellow);
  background-color: var(--color-blue);
  color: white;
  justify-content: flex-end;
  font-size: 100%;
}

.editItems_order-plus[disabled] {
  opacity: 0.2;
  cursor: not-allowed;
}

.editItems_order-plus:hover {
  background-color: var(--color-orange);
  cursor: pointer;
}

.editItems_order-minus {
  margin-left: 0.5vw;
  width: 2vw;
  text-decoration: none;
  border: solid 2px var(--color-yellow);
  background-color: var(--color-blue);
  color: white;
  justify-content: flex-end;
  font-size: 100%;
}

.editItems_order-minus[disabled] {
  opacity: 0.2;
  cursor: not-allowed;
}

.editItems_order-minus:hover {
  background-color: var(--color-orange);
  cursor: pointer;
}
