.searchContainer {
  width: 15rem;
  display: flex;
}

.searchBar {
  height: 1.8rem;
  width: 13rem;
  border: none;
  padding: 0 0 0 0.2rem !important;
  font-size: 600;
  color: black;
  background-color: white;
  margin-right: 0rem;
}

.searchBar::placeholder {
  padding-left: 0.2rem;
}

.btnSearch {
  background: white;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  color: black;
  appearance: none;
  outline: none;
  border: none;
  font-size: 1rem;
  position: relative;
  width: 2rem;
  height: 1.8rem;
  cursor: pointer;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.btnSearch:hover {
  background: transparent;
}

.dropDown {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
}

.dropDown :empty {
  border: none;
}

.divDrop {
  cursor: pointer;
  text-align: start;
  margin: 0.15rem 0;
}

.searchInner {
  display: flex;
}

.search_suggestion_div {
  display: flex;
  flex-direction: column;
}

.search_inputSuggest {
  display: flex;
  flex-direction: column;
}

.suggestionsList {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  width: auto;
  background-color: rgba(0, 0, 0, 0.85);
  list-style: none;
  padding: 0;
  margin: 0;
}

.suggestionsList_item {
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.8rem;
  cursor: pointer;
}

/*de 750 a 900*/
@media (max-width: 900px) {
  .searchContainer {
    width: 10rem;
  }
  
  .searchBar {
    width: 9rem;
    border: none;
    font-size: 0.8rem;
    padding: 0 0 0 0.2rem !important;
  }
  
  .searchBar::placeholder {
    font-size: 0.8rem;
  }
  
  .btnSearch {
    font-size: 0.8rem;
  }

  .dropDown {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
  }

  .dropDown :empty {
    border: none;
  }

  .divDrop {
    cursor: pointer;
    text-align: start;
    margin: 0.15rem 0;
  }

  .searchInner {
    display: flex;
  }
}

/*entre 550 y 750*/
@media (max-width: 750px) {
  .suggestionsList_item{
    font-size: 0.8rem;
    padding: 0.5rem;
    cursor: pointer;
  }

}

/*menos de 550*/
@media (max-width: 550px) {
  .searchContainer {
    width: 7rem;
  }

  .searchBar {
    height: 1.5rem;
    width: 6.5rem;
    font-size: 0.7rem;
  }

  .searchBar::placeholder{
    font-size: 0.7rem;
  }

  .btnSearch {
    font-size: 0.8rem !important;
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
  }

  .dropDown {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
  }

  .dropDown :empty {
    border: none;
  }

  .divDrop {
    cursor: pointer;
    text-align: start;
    margin: 0.15rem 0;
  }

  .searchInner {
    display: flex;
  }
}

 
