.container_details {
  background-image: url("../../assets/detailBg.png");
  background-color: black;
  /* position: absolute; */
  top: auto;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex: 1;
}

.global_container {
  display: grid;
  width: 85%;
  grid-template-columns: 55% 45%; 
}

.product_container {
  margin-top: 1.2rem;
  width: 100%;
  height: auto;
  flex: 1;
  flex-wrap: wrap;
  /* float: left; */
  text-align: left;
  padding: 0.8rem 0 0rem 0;
  background-color: rgba(49, 103, 144, 0.8);
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.product_container h2, .detail_price_h2, .average_opinion_title {
  margin: 0rem 0 0 1.2rem;
}

.average_opinion_title{
  font-size: 1.2rem;
  color: white;
}

.detail_price_h2{
  color: var(--color-orange);
}

.product_container p{
  margin-left: 1.2rem;
}

.image_container{
margin-top: 1.2rem;
height: auto;
}

.product_image {
  flex: 1;
  flex-wrap: wrap;
  display: block;
  object-fit: cover;
  width:100%;
  height:100%;
}

.photo_soldout_detail{
  filter: grayscale(100%);
  flex: 1;
  flex-wrap: wrap;
  display: block;
  object-fit: cover;
  width:100%;
  height:100%;
}

.back_button_div{
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: left;
  margin-left: 15%;
}

.back_button {
  display: block;
  width: 8%;
  padding: 0.25rem;
  background: var(--color-orange);
  color: white;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  margin: 0.5rem 0 -0.3rem 0;
  cursor: pointer;
  transition: 0.2s all;
}

.back_button:hover {
  background-color: var(--color-violet);
}

.detail_rating_containter{
  margin-left: 1.2rem;
}

.product_button_div{
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  width: 100%;
}

.product_button {
  display: block;
  width: 45%;
  padding: 0.4rem;
  background: var(--color-orange);
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  transition: 0.2s all;
  margin: 0.8rem 0 1.3rem 0;
}

.product_button:hover {
  background-color: var(--color-violet);
  cursor: pointer;
}

.show_soldout_div{
  display: flex;
  height: 2rem;
  border-radius: 0.2rem;
  padding: 0.2rem;
  background-color: red;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.show_soldout_text{
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 !important;
  padding: 0 0.5rem;
}

.product_info, .detail_reviews_div {
  width: 85%;
  padding: 1.2rem 0;
  text-align: left;
  background-color: rgba(49, 103, 144, 0.8);
  color: #ffffff;
  height: auto;
  border: 1px solid white;
}

.product_info h4, .detail_reviews_div h4 {
  margin: -0.5rem 0 0 1.2rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.product_info p, .detail_reviews_div p{
  margin-left: 1.2rem;
  font-size: 1rem;
}

.detail_cart_explanation{
  margin: 0.5rem 0 0.8rem 1.2rem;
  color: white;
  font-size: 1rem;
}

.buttonGroup_toCart{
  margin-left: 1.2rem;
}

.product_info p, .detail_reviews_div p{
  width: 93%;
  text-align: justify;
}

/*-----Responsive hasta 900px -----*/
@media screen and (max-width: 900px) {
  .product_container {
    margin-top: 2rem;
    width: 100%;
    height: auto;
    flex: 1;
    flex-wrap: wrap;
    /* float: left; */
    text-align: left;
    padding: 1.2rem 0 0rem 0;
    background-color: rgba(49, 103, 144, 0.8);
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .image_container{
    margin-top: 2rem;
    }

  .back_button_div{
    margin: 0.5rem 0 -0.2rem 10%;
  }

  .global_container {
    width: 90%;
  }

  .product_button {
    clear: both;
    display: block;
    width: 65%;
    padding: 0.5rem;
    background: var(--color-orange);
    color: white;
    font-size: 1em;
  }

  .product_info, .detail_reviews_div {
    width: 90%;
  }
  
  .product_info h4, .detail_reviews_div h4 {
    margin: -0.5rem 0 0 1.2rem;
    font-size: 1.1rem;
    font-weight: 600;
  }
  
  .product_info p, .detail_reviews_div p, .detail_cart_explanation{
    margin-left: 1.2rem;
    font-size: 0.9rem;
  }

  
}

/*-----Responsive hasta 750px -----*/
@media screen and (max-width: 750px) {
  .product_container {
    margin-top: 0rem;
  }

  .back_button {
    width: 12%;
    padding: 0.25rem;
    font-size: 0.9rem;
    margin: 0.5rem 0 -0.2rem 0;
  }

  .global_container {
    width: 90%;
    display: flex;
    flex-direction: column-reverse;
  }

  .product_button {
    clear: both;
    display: block;
    width: 50%;
    padding: 0.5rem;
    background: var(--color-orange);
    color: white;
    font-size: 1em;
  }
  .image_container{
    margin-top: 1rem;
    }
}

@media screen and (max-width: 550px) {
  .back_button {
    width: 15%;
    margin: 0.5rem 0 0rem 0;
  }

  .product_container h2{
    font-size: 1.2rem;
  }

  .product_button {
    width: 50%;
    font-size: 0.8rem;
  }

  .detail_rating_containter, .product_container h2, 
  .detail_price_h2, .product_container p,
  .product_info h4, .detail_reviews_div h4,
  .product_info p, .detail_reviews_div p {
    margin-left: 0.9rem;
  }

  .detail_cart_explanation {
    margin-left: 1.9rem;
  }
}