.container_details {
  background-image: url("../../assets/detailBg.png");
  background-color: black;
  position: absolute;
  top: auto;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex: 1;
}
.global_container {
  display: grid;
  width: 85%;
  grid-template-columns: 55% 45%;
  
}

.product_container {
  margin-top: 2rem;
  width: 100%;
  height: auto;
  flex: 1;
  flex-wrap: wrap;
  /* float: left; */
  text-align: left;
  padding: 1.2rem 0 0rem 0;
  background-color: rgba(49, 103, 144, 0.8);
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.product_container h2 {
  margin: 0rem 0 0 1.2rem;
}

.product_container p{
  margin-left: 1.2rem;
}

.image_container{
margin-top: 2rem;
height: auto;
}

.product_image {
  flex: 1;
  flex-wrap: wrap;
  /* float: right; */
  display: block;
  object-fit: cover;
  width:100%;
  height:100%;
}

.back_button_div{
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: left;
  margin-left: 15%;
}

.back_button {
  display: block;
  width: 8%;
  padding: 0.25rem;
  background: var(--color-orange);
  color: white;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  margin: 0.5rem 0 -0.3rem 0;
  cursor: pointer;
}

.back_button:hover {
  background-color: var(--color-violet);
}

.detail_rating_containter{
  margin-left: 1.2rem;
}

.product_button_div{
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.product_button {
  display: block;
  width: 35%;
  padding: 0.3rem;
  background: var(--color-orange);
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  transition: 0.2s all;
  margin: 0.8rem 0;
}

.product_button:hover {
  background-color: var(--color-violet);
  cursor: pointer;
}

.product_info {
  width: 85%;
  padding: 2rem 0;
  text-align: left;
  background-color: rgba(49, 103, 144, 0.8);
  color: #ffffff;
  height: auto;
  border: 1px solid white;
}

.product_info h4 {
  margin: -0.5rem 0 0 1.2rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.product_info p{
  margin-left: 1.2rem;
  font-size: 1rem;
}

.detail_reviews_div {
  width: 85%;
  padding: 2rem 0;
  text-align: left;
  background-color: rgba(49, 103, 144, 0.8);
  color: #ffffff;
  height: auto;
  border: 1px solid white;
}

.detail_reviews_div h4 {
  margin: -0.5rem 0 0 1.2rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.detail_reviews_div p{
  margin-left: 1.2rem;
  font-size: 1rem;
}

/*-----Responsive hasta 767px -----*/
@media (max-width: 767px) {
  .product_container {
    height: auto;
    width: 100%;
    margin: 25px auto;
    padding: 18px;
    text-align: center;
    font-size: 0.9em;
    height: 337px;
    margin-bottom: 0;
  }

  .product_image {
    margin-top: 25px;
    width: 90%;
    flex: 1;
    flex-wrap: wrap;
    float: right;
    object-fit: cover;
    height: 373px;
    margin-bottom: 0;
  }

  .product_button {
    clear: both;
    display: block;
    width: 96%;
    padding: 8px;
    background: var(--color-orange);
    color: white;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;
    border-radius: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    margin-right: 2%;
    margin-left: 2%;
    cursor: pointer;
  }

  .product_info {
    /* display: block; */
    /* width: 97.35%; */
    padding: 20px;
    text-align: left;
    background-color: rgba(49, 103, 144, 0.8);
    color: #ffffff;
    height: 100px;
    margin-bottom: 3vh;
    margin-right: 2vw;
    margin-left: 2vw;
    font-size: 0.8em;
  }

  .back_button {
    display: block;
    width: 10%;
    padding: 3px;
    background: var(--color-orange);
    color: white;
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    border: none;
    margin-top: 0.5%;
    margin-bottom: -3.3%;
    margin-left: 2%;
    cursor: pointer;
  }
  .back_button:hover {
    background-color: #72cb10;
  }
}

/*-----Responsive hasta 479px -----*/
@media (max-width: 479px) {
  .product_container {
    height: auto;
    width: 100%;
    margin: 25px auto;
    padding: 10px;
    text-align: center;
    font-size: 0.7em;
    height: 320px;
    margin-bottom: 0;
  }

  .product_image {
    margin-top: 25px;
    width: 91.1%;
    flex: 1;
    flex-wrap: wrap;
    float: right;
    object-fit: cover;
    height: 340px;
    margin-bottom: 0;
  }

  .product_button {
    clear: both;
    display: block;
    width: 96%;
    padding: 5px;
    background: var(--color-orange);
    color: white;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    border-radius: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    margin-right: 2%;
    margin-left: 2%;
    cursor: pointer;
  }

  .product_info {
    /* display: block; */
    /* width: 97.35%; */
    padding: 10px;
    text-align: left;
    background-color: rgba(49, 103, 144, 0.8);
    color: #ffffff;
    height: 100px;
    margin-bottom: 3vh;
    margin-right: 2vw;
    margin-left: 2vw;
    font-size: 0.7em;
  }

  .back_button {
    display: block;
    width: 10%;
    padding: 3px;
    background: var(--color-orange);
    color: white;
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    border: none;
    margin-top: 0.5%;
    margin-bottom: -5.5%;
    margin-left: 2%;
    cursor: pointer;
  }
  .back_button:hover {
    background-color: #72cb10;
  }
}
