.shows__pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  padding-bottom: 5vh;
}

.shows__pagination-textContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-blue);
  width: 35vw;
  height: 5vh;
  color: white;
  border: 1px solid white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.shows__pagination-textContainer button {
  background-color: transparent;
  border: none;
  cursor: default;
  outline: none;
  color: white;
  font-size: 1.1rem;
  transition: 0.2s all;
}

.shows__pagination-textContainer button:hover {
  color: var(--color-orange);
  cursor: pointer;
}

.shows__pagination-textContainer span {
  font-size: large;
  padding-bottom: 0.3vh;
}

.shows__pagination-currentPageUnderline {
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  .shows__pagination-textContainer {
    width: 50vw;
  }
}

  /*Responsive hasta 750*/
  @media screen and (max-width: 750px) {
    .shows__pagination-textContainer {
      width: 55vw;
    }
  }

  /*Responsive hasta 550*/
  @media screen and (max-width: 550px) {
    .shows__pagination-textContainer {
      width: 75vw;
  }

}

