@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,200;1,300&display=swap");

.card-shop__container {
    
  font-family: "Josefin Sans", sans-serif;
  font-weight: 350;
  font-size: 20px;
  line-height: 35px;
  color: rgb(255, 255, 255);
  font-style: normal;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.card-shop__container span p {
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
    color: rgb(255, 255, 255);
    font-style: normal;
}