.error_Section_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
}

.error_Title{
    color: white;
    text-align: center;
    font-size: 2.5rem;

}

.error_Img{
    width: 25%;
    height: auto;
}

.error_Info_div{
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    justify-content: center;
    align-items: center;
}

.error_Button_link{
    background: var(--color-orange);
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    color: white;
    appearance: none;
    outline: none;
    border: none;
    font-size: 1.5rem;
    border-radius: 0.8rem;
    line-height: 3rem;
    height: 3rem;
    width: 15rem;
    cursor: pointer;
    transition: all 0.5s;
    margin: 1rem 0;
    padding: 0.5rem;
}

.error_Button_link:hover{
    font-size: 1.6rem;
    background: rgb(2,0,26);
    background: var(--color-violet);
}