.navbar {
  background: rgba(0, 0, 0, 0.8);
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav_logo {
  margin-left: 1.5rem;
  width: 3rem;
  height: 3rem;
  display: flex;
}

.navbar_logo_img {
  margin: auto 0.75rem;
  color: white;
  position: relative;
  width: 3rem;
  height: 3rem;
  transition: 0.2s all;
}

.navbar_logo_img:hover {
  scale: 1.05;
}

.nav_toggle {
  display: none;
}

.nav_right {
  display: flex;
  margin-right: 1.5rem;
  width: auto;
}

.navbar_menu_link {
  color: white;
  margin: 0.75rem;
  position: relative;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: transparent;
  border: none;
  transition: 0.2s all;
}

.navbar_menu_link:hover {
  color: var(--color-green);
  cursor: pointer;
  font-size: 1.25rem;
}

.navbar_menu_link_active{
  color: var(--color-green);
  margin: 0.75rem;
  position: relative;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: transparent;
  border: none;
}

.nav_btn_logged {
  display: flex;
  align-items: center;
  align-content: center;
}

.right_navbar_icons {
  color: white;
  transition: 0.2s all;
  height: 2.2rem;
  width: auto;
}

.right_navbar_icons:hover {
  color: var(--color-green) !important;
  cursor: pointer;
}

@media (max-width: 750px) {
  .nav_logo {
    display: none;
  }

  .nav_items {
    position: absolute;
    top: 60px;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: -webkit-fill-available;
    transform: translateX(-100%);
    transition: 0.3s ease all;
  }
  .nav_items.open {
    transform: translateX(0) !important;
    z-index: 200;
  }

  .nav_toggle {
    display: flex !important;
    flex-direction: column;
    margin: 0.75rem;
    z-index: 100;
  }

  .nav_toggle span {
    width: 1.8rem;
    height: 0.25rem;
    background: white;
    margin-bottom: 0.3rem;
    border-radius: 2px;
    transform-origin: 0.3rem 0px;
    transition: all 0.2s linear;
  }
  .nav_toggle.open > span {
    transform: rotate(45deg) translate(0px, 0px);
  }
  .nav_toggle.open > span:nth-child(2) {
    display: none;
  }
  .nav_toggle.open > span:nth-child(3) {
    transform: rotate(-45deg) translate(-0.3rem, 1px);
  }

  .nav_right {
    display: flex;
    margin-right: 1.5rem;
    justify-content: space-around;
    align-content: space-between;
  }

  .right_navbar_icons{
    height: 1.6rem;
  }
}

/*Maximo 550*/
@media (max-width: 550px) {
    .navbar{
        align-items: center;
    }

    .nav_toggle span {
        width: 1.2rem;
        height: 0.2rem;
        margin-bottom: 0.25rem;
    }

    .nav_right{
        justify-content: right;
        align-items: center;
    }

    .navbar_menu_link{
        font-size: 1.1rem;
    }

}
