.complete_page_container{
    display: flex;
    flex-direction: row;
    background-color: black;
    background-image: url('../../assets/registerBG3.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90.5vh;
    flex: 1;
    align-items: self-start;
    justify-content: center;
}

.completeregister_section{
    display: flex;
    align-items:center;
    justify-content: space-around;
    width: 80%;
    margin: 0rem 0 2rem 0;
}

.completeregister_container{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.completeregister_form, .login_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.completeregister_h2, .completeregister-form_label, .register-label_check, .completeregister_link_terms, .link_recover_password{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgba(161, 161, 161, 0.6);
}

.completeregister_h2{
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
}

.register_info_wraper{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.complete_section_input{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 0.7rem;
    width: 100%;
    height: 1.5rem;
}

.register_section_input::placeholder{
    color: rgba(61, 60, 60, 0.85);
    font-size: 0.7rem;
    padding-left: 0.2rem;
}

.completeregister-form_label {
    font-size: 1rem; 
    font-weight: 600;
    width: 100%;
    margin: 0.5rem 0 0.2rem 0;
}

.register_info_wraper_check{
    display: flex;
    height: 1.6rem;
    width: 50%;
    margin: 0.5rem;
    align-items: center;
    justify-content: space-between;
}

.register-label_check{
    width: 80%;
    height: 1.2rem;
}

.completeregister_link_terms{
    text-decoration: none;
    font-size: 1rem;
    font-size: 600;
    transition: all 0.2s;
}

.completeregister_link_terms:hover{
    color: rgb(239, 162, 60);
}

.register-input_check{
    width: 10%;
    height: 1.2rem;
    margin: 0 0 0 0.5rem;
 }

.register_btn_div{
    display: flex;
    width: 52%;
}

.register_btn_notSubmit{
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
    appearance: none;
    width: 100%;
    margin: 1rem 0;
    padding: 0.4rem;
 }

.register_btn_submit{
    background-color: rgb(239, 162, 60);
    width: 100%;
    margin: 1rem 0;
    padding: 0.4rem;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.2s;
}

.register_btn_submit:hover {
    background-color: #704782;
    cursor: pointer;
  }

  .link_recover_password{
    margin-top: 0.5rem;
    font: 0.7rem;
    text-decoration: none;
    transition: all 0.2s;
  }

  .link_recover_password:hover{
    color: rgb(239, 162, 60);
  }

  .signup_error{
    color: red;
    font-size: 0.7rem;
    font-weight: 600;
  }

  /*Entre 550 y 750*/
@media screen and (max-width: 750px) {
    .completeregister_section{
        display: flex;
        width: 100%;
    }

    .completeregister_container{
        width: 80%;
    }  
    
    .completeregister_h2{
        font-size: 1.2rem;
        margin-bottom: 1.2rem;
    }

    .register_btn_div{
        display: flex;
        width: 52%;
    }
}

/*Menos de 550*/
@media screen and (max-width: 550px) {
    .completeregister_container{
        width: 90%;
    }

    .register_info_wraper{
        width: 70%;
    }
    
    .complete_section_input{
        height: 1.4rem;
    }
    
   
    .completeregister-form_label {
        font-size: 0.8rem; 
    }
    
    .register_info_wraper_check{
        height: 1.1rem;
        width: 70%;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: space-between;
    }
    
    .register-input_check{
        height: 1.1rem;
     }

    .register-label_check{
        width: 100%;
        height: 1.1rem;
    }
    
    .completeregister_link_terms{
        font-size: 0.8rem;
        font-size: 600;
    }

    .completeregister_h2{
        font-size: 1rem;
    }
}
