
    .register_page_container{
        display: flex;
        flex-direction: row;
        background-color: black;
        background-image: url('../../assets/registerBG3.png');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 90.5vh;
        flex: 1;
        align-items: self-start;
        justify-content: space-between;
    }

    .sections_separation_div{
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        height: 75vh;
        width: 0.25rem;
        background-color: rgb(239, 162, 60);
        border-radius: 0.5rem;
    }


/*menos de 750 */
@media screen and (max-width: 750px) {
    .register_page_container{
        flex-direction: column-reverse; 
        overflow:auto;
    }
    .sections_separation_div{
        display: none;
    }
}
