.loader_container{
    display: flex;
    width: 100%;
    height: 30%;
    flex-direction: column;
    place-items: center;
}

.loader_img{
    width: 20rem;
    height: auto;
    margin-bottom: 1.5rem;
}

.loader_title{
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

.progess_Loader{
    width: 8rem;
    height: auto;
}